body {
  background-color: dimgray;  
  padding: 20px;
}

.title {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
}

.character {
	margin-bottom: 10px;
}

.character-card {
	background-size: cover;
	padding: 5px;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-transform: capitalize;
	height: 56px;
	cursor: pointer;
	position: relative;
	margin-right: 20px;
	transition: .5s;
}

.character-card:hover .character-class{
	margin-left: 20px;
	transition: .5s;
}

.top-right-triangle {
	border-style: solid;
	border-width: 0 27px 27px 0;
	border-color: transparent #696969 transparent transparent;
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	transition: .5s;
}

.bottom-right-triangle {
	border-style: solid;
	border-width: 0 0 27px 27px;
	border-color: transparent transparent #696969 transparent;
	position: absolute;
	bottom: 0;
	right: 0;
	display: none;
	transition: .5s;
}

.character-card.selected {
	margin-right: 0px;	
}

.character-card.selected .character-level {
	padding-right: 35px;	
}

.character-card.selected .top-right-triangle,
.character-card.selected .bottom-right-triangle{
	transition: .5s;
	display: block;
}

.character-emblem {
	float: left; 
	margin-right: 10px;
	height: 100%;
}

.character-class {
	padding-top: 7px;
	float: left;
	margin-left: 0px;
	transition: .5s;	
}

.character-level {
	float: right;	
	padding-top: 7px;
	padding-right: 15px;
	color: #f5dc56;
}

.character-progress {
	height: 4px;	
	margin: 0 -5px;
}

.character-progress-bar {
	clear: both;
	background-color: #f5dc56;
	height: 4px;
	width: 0;
}

.character-info {
	min-height: 0px;
	max-height: 0px;
	transition: .5s;
	overflow: hidden;
	color: #fff;
}

.character-info-inner {
	padding: 15px 0px;	
}

.character-info.selected {
	max-height: 800px;
	transition: .5s;
}

.filters {
	margin-bottom: 20px;	
}

.item {
  width: 50px;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  border: solid 3px #fff;
  position: relative;
}

.item.equipped {
		width: 105px;
}

.item img {
  width: 100%;
  z-index: 1;
}

.item .attack {
  bottom: 0px;
  right: 3px;
  font-weight: bold;
  text-align: right;
  font-size: 10px;
  color: #fff;
  position: absolute;
  z-index: 999;
  width: 100%;
  text-shadow: 1px 1px #000;
}

.item .attack.arc {
  background-color: #59b0e5;
}

.item .attack.solar {
    background-color: #ce5a0c;
}

.item .attack.void {
    background-color: #9b61b5;
}

.item .arc {
  background: url(../images/arc.png) no-repeat right center;
}

.item .quantity {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #fff;
  padding-right: 2px;
  padding-top: 2px;
  line-height: 10px;
  color: #000;
  font-size: 10px;
  font-weight: bold;
}

.item .damage {
  position: absolute;
  bottom: 1px;
  left: 1px;
}

.item .damage img {

}

.item.full {
  border-color: #f5dc56;
}

.bucket-group {
  margin-bottom: 20px;
}

.bucket-title {
  background-color: darkgrey;
  padding: 3px 5px;
  font-size: 20px;
  margin-bottom: 5px;
}

.bucket-subtitle {
	color: #fff;
	font-weight: bold;
	margin-bottom: 2px;
}	

.weekly-info {
	padding: 15px 0px;
}

.weekly-activity {
	margin-bottom: 20px;
}

.activity-icon {
	float: left;
	width: 40px;
	margin-right: 10px;
}

.activity-icon img {
	width: 100%;	
}

.currencies {
	margin-bottom: 20px;	
}

.currency-amount {
	font-size: 18px;
	font-weight: bold;
	float: left;
	padding-top: 5px;
}

.currency-icon {
	background: transparent url(http://static01.bungie.net/img/theme/destiny/icons/sprite_destiny_currencies.png) no-repeat 0px 0px;
	width: 35px;
	height: 35px;
	margin-right: 15px;
	float: left;
}

.currency-icon.vanguard {
	background-position: -44px 0px;	
}

.currency-icon.glimmer {
	background-position: -88px 0px;	
}
