<!doctype html>
<html ng-app="myApp" ng-csp="">

<head>
	<!-- build:css styles/vendor.css -->
	<!-- bower:css -->
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css styles/main.css -->
	<link href="styles/main.css" rel="stylesheet">
	<!-- endbuild -->
	<script type="text/javascript" src="bower_components/angularjs/angular.js"></script>
	<script type="text/javascript" src="bower_components/angular-filter/dist/angular-filter.js"></script>
	<script type="text/javascript" src="scripts/app.js"></script>
	<script type="text/javascript" src="scripts/bungie.js"></script>
	<script type="text/javascript" src="scripts/utils.js"></script>
	<script type="text/javascript" src="scripts/itemdef.json"></script>
	<script type="text/javascript" src="scripts/collection.json"></script>
	<script type="text/javascript" src="scripts/statdef.json"></script>



</head>

<body ng-controller="MainController">

	<div id="user">{{ user.gamerTag }}</div>
	<br/>

	<div ng-bind="getMoteCount()"></div>

	<div ng-repeat="(key,value) in inventory | groupBy: 'owner'">
		<div class="clearfix">
			<h4>{{ key }}</h4>

			<div class="item" ng-repeat="item in value"><img title="{{ item }}" ng-src="http://bungie.net{{ item.icon }}" />
			</div>
		</div>
	</div>

	{{ avatars }}

	<!-- build:js scripts/vendor.js -->
	<!-- bower:js -->
	<!-- endbower -->
	<!-- endbuild -->



	<!-- build:js scripts/options.js -->
	<script src="scripts/options.js"></script>
	<!-- endbuild -->
</body>

</html>