<div class="modal-window clearfix">
	<div class="modal-item-fav">
		<i ng-click="setFavorite()" favorite class="fa fa-star fa-2x ng-class:{'isFavorite':clickedItem.favorite}" style="cursor: pointer;" />
	</div>
	<img class="modal-item-icon" ng-src="http://www.bungie.net{{ clickedItem.icon }}" />
	<div class="modal-item-name">{{ clickedItem.name }}</div>
	<div class="modal-item-type">{{ clickedItem.type }}</div>


	<div talent-nodes class="talentNodes"></div>

<!--
	<div class="clearfix talentNodes">
		<div class="node" ng-repeat="tNode in talentNodes"  popover="{{ tNode.name }}" popover-trigger="mouseenter" title="{{tNode}}">
			<div class="icon" style="background-image: url(https://bungie.net{{ tNode.icon }});" />
		</div>
	</div>
-->



	<div class="action-buttons">
		<div class="action-button-container equip">
			Equip
			<a ng-repeat="char in characters | equipFilter:activeChar:clickedItem" ng-click="equip(clickedItem, char, 1)" popover="{{ char.class + ' (' + char.level + ')' }}" popover-trigger="mouseenter">
				<img ng-src="http://bungie.net{{ char.icon }}" />
			</a>
		</div>
		<div class="action-button-container store">
			Store
			<a ng-repeat="char in characters | storeFilter:activeChar:clickedItem" popover="{{ char.class + ' (' + char.level + ')' }}" popover-trigger="mouseenter" ng-click="store(clickedItem, char, 1)">
				<img ng-src="http://bungie.net{{ char.icon }}" />
			</a>
		</div>
		<button ng-if="clickedItem.owner != 'vault'" ng-click="moveToVault(clickedItem, 1)" class="btn btn-primary">Move to Vault</button>
	</div>
</div>